<form method="get" id="form">
    <input type="text" placeholder="Star Wars..." id="search">
    <button class="btn" type="submit">Search</button>
</form>

<script>
    let form = document.getElementById('form')
        form.addEventListener('submit', search)

    function search(ev) {
        ev.preventDefault()
        window.location = '/movie/search/' + document.getElementById('search').value
    }
</script>